{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center align-items-center flex-column" style="height: 100;">
    <a href="{% url 'submit_benchmark' %}" class="btn btn-primary btn-lg">Click here to submit code for Benchmark (Requires Login)</a>
    <p class="mt-2 text-muted" style="font-size: 0.875rem;">We will try to benchmark your code as soon as possible.</p>
</div>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Filename</th>
            <th>User</th>
            <th>Submission Time</th>
            <th>Benchmark Ready</th>
            <th>Benchmark Date</th>
            <th>Benchmark Version</th>
            <th>Plot 1</th>
            <th>Plot 2</th>
            <th>Plot 3</th>
            <th>Plot 4</th>
        </tr>
    </thead>
    <tbody>
        {% for SubmittedFile in AllSubmittedFiles %}
        <tr>
            <td>{{ SubmittedFile.filename }}</td>
            <td>{{ SubmittedFile.user.username }}</td>
            <td>{{ SubmittedFile.time_submitted }}</td>
            <td>{{ SubmittedFile.benchmark_ready }}</td>
            <td>{{ SubmittedFile.benchmark_date }}</td>
            <td>{{ SubmittedFile.benchmark_version }}</td>
            {% if SubmittedFile.plot1.url != None %}
            <td><a href="{{ SubmittedFile.plot1.url }}"><img src="{{ SubmittedFile.plot1.url }}" alt="{{ SubmittedFile.plot1.name }}" class="img-thumbnail" style="max-height: 100px;"></a></td>
            {% else %}
            <td><p>Not Ready Yet</p></td>
            {% endif %} 
            {% if SubmittedFile.plot2.url != None %}
            <td><a href="{{ SubmittedFile.plot2.url }}"><img src="{{ SubmittedFile.plot2.url }}" alt="{{ SubmittedFile.plot2.name }}" class="img-thumbnail" style="max-height: 100px;"></a></td>
            {% else %}
            <td><p>Not Ready Yet</p></td>
            {% endif %} 
            {% if SubmittedFile.plot3.url != None %}
            <td><a href="{{ SubmittedFile.plot3.url }}"><img src="{{ SubmittedFile.plot3.url }}" alt="{{ SubmittedFile.plot3.name }}" class="img-thumbnail" style="max-height: 100px;"></a></td>
            {% else %}
            <td><p>Not Ready Yet</p></td>
            {% endif %} 
            {% if SubmittedFile.plot4.url != None %}
            <td><a href="{{ SubmittedFile.plot4.url }}"><img src="{{ SubmittedFile.plot4.url }}" alt="{{ SubmittedFile.plot4.name }}" class="img-thumbnail" style="max-height: 100px;"></a></td>
            {% else %}
            <td><p>Not Ready Yet</p></td>
            {% endif %} 

        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}