{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="video-container">
        <video autoplay muted loop>
            <source src="{% static 'waves.mp4' %}" type="video/mp4">
        </video>
    </div>

    <!-- About Us Section -->
    <div class="container my-5" id="services">
        <h2 class="text-white"> About BathyVeritas </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body custom-card-body">
                        <h5 class="card-title">BathyVeritas</h5>
                        <p class="card-text"> BathyVeritas delivers unprecedented accuracy and depth in bathymetric mapping using 
                            advanced AI-powered Satellite-Derived Bathymetry, integrating optical, wave, and synthetic data. 
                            We leverage unique industry partnerships and robust benchmarking standards. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Services Section -->
    <div class="container my-5" id="services" style="padding-top: 22rem;">
        <div class="row">

            <!-- Text Column -->
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2>Why Bathymetry?</h2>
                <p class="text-muted">Defense, safety, climate resilience (coral monitoring, erosion control, sea-level rise). 
                    Bathymetry is fundamental to ocean and coastal modelling.
                    Coastal areas and islands lack affordable, accurate bathymetry data essential for climate resilience (erosion, flooding, habitat monitoring). 
                    These issues are exacerbated in low income, low lying island nations 
                    <p class="text-muted">Current shallow-water mapping is inaccurate, expensive, and rarely updated, posing safety, economic, 
                    and environmental risks to dredging, coastal protection, fishing, marine industries and defence operations. 
                    We provide affordable, higher accuracy maps.</p>
                    <p class="text-muted">
                    Accurate, cost-effective bathymetric mapping—enabling coral reef protection, coastal resilience, and adaptive responses to climate impacts.
                    </p>
            </div>
            <!-- Image Column -->
            <div class="col-md-6">
                <img src="{% static 'index1.jpeg' %}" class="img-fluid" alt="Description of the image" style="border-radius: 8px;">
            </div>
        </div>
    </div>



    <div class="container my-5" id="services" >
        <div class="row">
            <!-- Image Column -->
            <div class="col-md-6">
                <img src="{% static 'index2.jpeg' %}" class="img-fluid" alt="Description of the image" style="border-radius: 8px;">
            </div>
            <!-- Text Column -->
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2>How do we solve Bathymetry?</h2>
                <p class="text-muted"> Optical Sattelite-Derived Bathymetry struggles with spatial generalization.  
                    Our integration of DL, synthetic data, wave & optical data, and a growing bathymetric database allows to overcome 
                    the mapping the worlds shallow waters more accurately. </p>
                <p class="text-muted">
                    Classical methods are outdated and result in weak benchmarks. 
                    Our rigorous, open benchmark exposes their weaker performance, 
                    while our cutting-edge methods uniquely leverage extensive dredging-company data partnerships. 
                </p>
                <p class="text-muted">
                    Accurate, cost-effective bathymetric mapping—enabling coral reef protection, coastal resilience, 
                    and adaptive responses to climate impacts. Base accuracy maps requiring no in situ data can be freely available perhaps. </p>
                <p class="text-muted"> We offer tiered bathymetric data products: affordable general accuracy, 
                    improved precision with customer-provided calibration data, or premium service including 
                    site-specific measurements and detailed algorithmic interpolation. </p>
            </div>
        </div>
    </div>

    <div class="container my-5" id="services" >
        <div class="row">
            <!-- Text Column -->
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2>Who do we work with?</h2>
                <p class="text-muted">Primary customers include dredging companies, coastal governments managing protection efforts, 
                    defense organizations, fisheries, marine researchers, and boat operators—stakeholders critically dependent on 
                    accurate shallow-water bathymetry data.</p>
            </div>
            <!-- Image Column -->
            <div class="col-md-6">
                <img src="{% static 'index3.jpeg' %}" class="img-fluid" alt="Description of the image" style="border-radius: 8px;">
            </div>
        </div>
    </div>






{% endblock %}