{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Subscription Cards -->
<div class="row">
    <div class="col-md-4">
        <div class="offering-card">
            <h3>Basic Plan</h3>
            <p class="text-muted">Perfect for individuals looking to get started.</p>
            <p></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="offering-card">
            <h3>Pro Plan</h3>
            <p class="text-muted">Ideal for professionals and advanced users.</p>
            <p></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="offering-card">
            <h3>VIP Plan</h3>
            <p class="text-muted">Designed for businesses and organizations.</p>
            <p></p>
        </div>
    </div>
</div>

{% endblock %}